.header{      
    background-color: rgb(250, 158, 158);
    display: flex;
    border:2px solid;
}
.box1{
    width:150px;
    padding: 20px;
    display:flex;
    flex-direction: column;
}
.box1 img{
    padding: 20px;  
}
.box2{
    padding-top: 20px;
}