*{
    padding: 0px;   
    margin: 0px;
}

 .header{
     background-color: rgb(255, 113, 113);
 }

.header__inner{
    max-width: 1024px;
    margin: 0 auto;
    display: flex;

    align-items: center;
    /* khi đưa về flexbox thì sẽ đẩy mỗi khối ra một bên justify-content: space-between; */
    justify-content: space-between;
    position: relative;

}

img{
    max-width: 6rem;
}

.menu{
    display: flex;
    /* câu lệnh align-items: center; canh giưã khi sửa dụng flex-box */
    align-items: center;
    list-style-type: none;
}
.menu__item{
    margin: o 1rem;
}

.menu__child{
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: rgb(201, 150, 150);
    display: flex;
    opacity: 0;
    visibility: hidden;

}
.menu__item:hover .menu__child{
    opacity: 1;
    visibility: visible;
    transition: 0.25s;
}
.menu__child-item{
    width: 25%;
}
.menu__child-item h4{
    background-color: blue;
    padding: 10px;
    color: white;
}
.menu__child-list li{
    list-style-type: none;
    padding: 10px;
}
.menu__link{
    display: block;
    color: black;
    text-decoration: none;
    padding: 2rem;
}


